html, body, #myMap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #2b313b;
}

#loading {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 99;
}
#loadingImg {
    position: absolute;
    width: 90px;
    height: 90px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.circle {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 183, 229, 0.9);
    opacity: .9;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    animation: spinPulse 1.2s infinite ease-in-out;
    -moz-animation: spinPulse 1.2s infinite ease-in-out;
    -webkit-animation: spinPulse 1.2s infinite linear;
    -o-animation: spinPulse 1.2s infinite ease-in-out;
}
.circle1 {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 183, 229, 0.9);
    opacity: .9;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    animation: spinoffPulse 1s infinite linear;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
    -o-animation: spinoffPulse 1s infinite linear;
}
@keyframes spinPulse {
    0% {
        transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }
    50% {
        transform: rotate(145deg);
        opacity: 1;
    }
    100% {
        transform: rotate(-320deg);
        opacity: 0;
    }
}
@keyframes spinoffPulse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }
    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }
    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    }
}
@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }
    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    }
}
@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-o-keyframes spinPulse {
    0% {
        -o-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }
    50% {
        -o-transform: rotate(145deg);
        opacity: 1;
    }
    100% {
        -o-transform: rotate(-320deg);
        opacity: 0;
    }
}
@-o-keyframes spinoffPulse {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}
.header, .content {
    position: absolute;
    left: 0;
    right: 0;
}
.header {
    height: 36px;
    top: 0;
    background-color: #2b313b;
    color: #fff;
    z-index: 1;
    border-bottom: 1px solid #122121
}
.header > h1 {
    margin: 0;
    line-height: 36px;
    font-size: 20px;
    text-align: center;
}
.header > a[data-rel="back"] {
    position: absolute;
    line-height: 36px;
    padding: 0 4px 0 8px;
    border-right: 1px solid #222;
}
.content {
    padding: 0 10px;
    position: absolute;
    top: 36px;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.row {
    width: 100%;
    height: 36px;
    margin-bottom: 15px;
}
.ui {
    display: block;
    width: 100%;
    height: 36px;
    font-size:16px;
    border-radius: 2px;
}
.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    vertical-align: middle;
}
.search {
    position: relative;
    top: -1px;
    background: url('../images/search.png') no-repeat;
}
.back {
    background: url('../images/return.png') no-repeat;
}

#queryBtn {
    display: block;
    text-align: center;
    line-height: 36px;
    color: #fff;
    background-color: #1fbba6;
}